#logobox{
    text-align: center;
    margin: 25% auto 15px auto;
}

#search-box{
    text-align: center;
    width: 482px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    padding: 5px 8px 0px 14px;
    background-color: #fff;
}
#search-bar{
   text-align: left;
   width: 427px;
   height: 34px;
   border-color: transparent;
}